<!DOCTYPE html>
<html lang="en">
  <head>
		<%- include('../partials/head'); %>
  </head>
  <header><%- include('../partials/header'); %></header>
    <main>
        <div class="container pt-5">
            
         <div class="bg-light p-2 rounded border my-5" style="margin-left: 400px; margin-right: 400px">
         
            <h1>Add Astronaut</h1>
            <p> <div class="card" style="width: 18rem;">
            <img src="<%= employee.picture %>" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><%= employee.firstName %> <%= employee.lastName %></p>
              <p class="card-text"><%= employee.email %></p>
                            
            </div>
            </div></p>
            <form id="update-employee-form" action="/edit/:uid" method="post">
              <div class="mb-3">
                <div class="mb-2">  <label for="input-firstName" class="form-label">Update First Name:</label>
                  <input type="text" name="user[firstName]" required></div>
                <input type="submit" value="Submit" href="/success">
            </form>
            <script>
              // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                  'use strict'

                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.querySelectorAll('.needs-validation')

                  // Loop over them and prevent submission
                  Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                      form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                          event.preventDefault()
                          event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                      }, false)
                    })
                })()
                </script>     
         </div>
        </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>