<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<div class="row justify-content-between"></div>
                    <h1>Employee's Detail!</h1>
				<!----> 	
                    <p><div class="card" style="width: 18rem;">
                    <a href=`directory/${id}`</a>
            	
					<img src="<%= employee.picture %>" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text"><%= employee.firstName %> <%= employee.lastName %></p>
					  <p class="card-text"><%= employee.email %></p>
					  <form action="/directory" method="GET" target="_blank"/><!--this will make a "get" request to the server and route back to the directory-->
                      <button type="submit" class="btn btn-primary">Directory</button>
                      <!-- <a class="btn btn-primary mtn-sm" href="directory/<%= employee.id%>">View Profile</a> -->

					</div>
				  </div></p>                  
					
           <!-- Try mocking up some Bootstrap cards or columns with some hard coded data to get an idea of how your templates should look. -->
				</div>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>